.container{
    display: flex;
    /* flex-direction: ; */
    height: 1000px;
    width: 1000px;
    background-color: aqua;
    justify-content:space-around;
    align-items: center;
}
.item{
    height: 100px;
    width: 100px;
    background-color: brown;
    border: 1px solid black;

}